$theme=#31c27c
$bkg=#F4F4F4
$fonts=rgba(0,0,0,.6)
$hr=rgba(255,255,255,.15)
$fb=24px
$fg=18px
$fn=16px
$fm=14px
$line=#cacab4
$text=#7F7F7F
$boxs=border-box
$rgb1=rgba(255,255,255,1)
$rgb44=rgba(255,255,255,.4)
$rgb2=rgba(255,255,255,.6)
$rgb3=rgba(0,0,0,.6)
$rgb4=rgba(0,0,0,.3)
wraps()   
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

body
 height:100%
 width:100%
 font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
